@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,79.9,100;1,79.9,100&display=swap');


.design{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  }


  @keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1s fadeInUp;
  }

  @media screen and (max-width: 1015px) and (min-width: 768px) {
   .txt{
   
    font-size: 50px;
   }
  }
  @media screen and (max-width: 1140px) and (min-width: 1015px) {
   .txt{
   
    font-size: 60px;
   }
  }
  @media screen and (max-width: 1800px) and (min-width: 1300px) {
   .txt{
   
    font-size: 90px;
   }
  }