
.mobile-message {
    display: none;
}


@media screen and (max-width: 768px) {
    .mobile-message {
        display: block;
        text-align: center;
        font-size: 18px;
        color: white;
        padding: 20px;
        background-color: #1c1c1c;
        font-weight: bold;
    }

    
    .desktop-content {
        display: none;
    }
}
